<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white; 
            font-size:7em;  
        } 
    </style> 
</head> 
<body> 
    <img src="data:image/png;base64,<%= image %>" />
</body> 
</html>       